body {
  border: 10px solid white;
  padding: 10px;
  margin: 4px;
  background-color: #ffd8ca;
}

img {
  max-width: 400px;
  max-height: 400px;
}

.jumbotron {
  text-shadow: 4px 4px #ffd8ca;
  background-image: url("https://t-ec.bstatic.com/images/hotel/max1024x768/100/100853831.jpg")
}

#submit{
  margin-top: 30px;
}

#question1 {
  margin-top: 30px;
}

#question2 {
  margin-top: 40px;
}

#result {
  display: none;
}
